<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->
    
    
    
   <bean id="student" class="com.sk.Student">
   <property name="rollNo" value="1452008" ></property>
   <property  name="add">
   
   <bean class="com.sk.Address">
   <property name="address" value="rdn"/>
   </bean> 
   
   </property>
   </bean>
  
    
   
</beans>





